<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#2a7172">
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <link href="static/logo.png" rel="shortcut icon" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <title>Просмотр данных из БД</title>
</head>
<body>
    <header>
        <table cellspacing="0px" border="0" width="100%">
            <tr>
                <td align="left" valign="middle" width="100%"><a href="/"><img src="static/logo.png"></a></td>
            </tr>
        </table>
    </header>
    <div class="clear"><br></div>
    <div id="wrapper">
        <div id="center">
            <div id="inscription">
                <a href="/">Главная</a><p1> > </p1><p1>Просмотр данных из БД</p1>
            </div><div class="clear"><br></div>
            <div id="inscription">
                <table cellspacing="10px" border="0" width="100%" align="center">
                    <tr>
                        <td align="center" valign="middle" width="100%"><h4>Параметры</h4></td>
                    </tr>
                </table>
            </div><div class="clear"><br></div>
            <div id="news">
            <table cellspacing="10px" border="0" width="100%" align="center">
                    <tr>
                        <td align="center" valign="middle" width="100%"><a href="graph"><input type='button' value='График'></a></td>
                    </tr>
                </table>
            </div><div class="clear"><br></div>
            <div id="inscription">
                <table cellspacing="10px" border="0" width="100%" align="center">
                    <tr>
                        <td align="center" valign="middle" width="100%"><h4>Просмотр данных из БД</h4></td>
                    </tr>
                </table>
            </div><div class="clear"><br></div>
            <div id="news">
                <table cellspacing="10px" border="0" width="100%" align="center">
                    <tr>
                        
                        <td align="center" valign="top" width="20%">Температура</td>
                        <td align="center" valign="top" width="20%">Влажность</td>
                        <td align="center" valign="top" width="20%">Освещенность</td>
                        <td align="center" valign="top" width="40%">Дата</td>
                    </tr>
                    {% for item_data in list_data %}
                    <tr>
                        <td align="center" valign="middle" width="20%">{{item_data[0]|float}}</td>
                        <td align="center" valign="middle" width="20%">{{item_data[1]|float}}</td>
                        <td align="center" valign="middle" width="20%">{{item_data[2]|float}}</td>
                        <td align="center" valign="middle" width="40%">{{item_data[3]|string}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
</html>